@CHARSET "ISO-8859-1";

#tab-left {
	float:left;
	width:250px;
	/*border-right:1px solid #ccc;*/
	min-height:480px;
    /*padding-left: 20px;*/
}



.design-color li {
	display:block;
	width:18px;
	height:18px;
	float:left;
	border:2px solid #999;
	cursor:pointer;
	border-radius:10px;
	margin-right:2px;
}

.design-color li#grey{
	background-color:rgb(170,170,170);
}

.design-color li#black{
	background-color:rgb(0,0,0);
}

.design-product li{
	float:left;
	border:1px solid #333;
	cursor:pointer;
}

.design-product li#chooseProduct1{
	border-radius:5px 0 0 5px;
	padding:2px 20px 2px 20px;
}

.design-product li#chooseProduct2{
	border-radius:0 5px 5px 0;
	padding:2px 20px 2px 20px;
}

.layout-left h5 {
	margin-top:5px;
}

.view-click-back, .view-click-front {
	margin-top:10px;
	cursor:pointer;
	width:50%;
}

.view-click-back:hover, .view-click-front:hover {
	color:#018AB6;
}

.view-click-front {
	display:none;
}

.back-logo, .front-logo {
	display:inline-block;
	width:32px;
	height:32px;
	float:right;
	padding:2px;
}

.back-logo{
	background-image:url(../shirt/back-small.png);
	background-repeat:no-repeat;
}

.front-logo {
	background-image:url(../shirt/front-small.png);
	background-repeat:no-repeat;
}

.txt-view {
	float:left;
	padding:8px 0 5px 5px;
}

.remove-object {
	border:1px solid #CCC; 
	height:24px; 
	width:24px; 
	background-image:url(../icons/remove.png);
	cursor:pointer;
	float:left;
}

.clear-canvas {
	border:1px solid #CCC; 
	height:24px; width:24px; 
	background-image:url(../icons/clear-32.png);
	cursor:pointer;
	float:left;
}

.save-design {
	border:1px solid #CCC; 
	height:24px; width:24px; 
	background-image:url(../icons/save.png);
	cursor:pointer;
	float:right;
}

.remove-object:hover, .clear-canvas:hover, .save-design:hover{
	border:1px solid #666;	
}

.tool-control {
	margin-top:20px;
}

.position-design {
	margin-top:80px;
}

#shirt-position {
	float:left;
    width:600px;
    height:700px;
    min-height:480px; 
    background-color:#ffffff;
    background-image:url(../shirt/front-white.png);
    background-repeat:no-repeat;
    background-size:cover;
    
}

#collection-unit {
	margin:10px;
}

.canvas-front {
	margin-top:5px;
}

.canvas-front input {
	width:90%;
}

#color-opacity-controls {
	margin-top:10px;
}

/*CSS for collection section*/

body {





}

#mainCollectionArea {
    float: left;
	/*border: 1px solid rgb(40, 40, 40);*/
	height: 850px;
	width: 350px;
    /*clear:both;*/
    /*margin: auto;*/
    /*padding-left: 20px;*/
}

.collectionDisplayArea {
	background: rgb(239, 239, 239);
	border: 0 solid rgb(81, 81, 81);
	border-radius: 10px;
	clear: both;
	height: 670.625px;
	margin: 0 auto;
	width: 100%;
    padding:1px;
    overflow-y:auto;
}

.eachCollectionArea {
    background: rgb(255, 255, 255);
	
    border-radius: 5px;
	height: 120px;
	margin: 10px auto 0;
    padding: 5px 5px 10px;
	width: 95%;
}



.previewThumbnail {
    
	
	background: rgb(255, 255, 255);
	border: 0 solid rgb(40, 40, 40);
	box-shadow: rgb(197, 197, 197) 1px 1px 3px 1px;
	
	float: left;
	
	margin: 10px 0 0 5px;
	width: 80px;
    height: 80px;


}

#more-dots {
    
	color: rgb(81, 81, 81);
	float: left;
	font: 900 2em arial;
	line-height: 1em;
	margin: 58px 0 0 10px;
	min-height: 30.375px;
	text-align: left;

}

.collectionHeader {
    

	margin: 10px 0 0 10px;


}

.imageThumbnail {

	background: rgb(255, 255, 255);
	border: 0 solid rgb(40, 40, 40);
	box-shadow: rgb(197, 197, 197) 1px 1px 3px 1px;
	float: left;
	height: 100px;
	margin: 10px 0 0 10px;
	width: 100px;
}

#backButton {
    margin: 10px 0 0 10px;
}

.moreDesignHeader {
    
    padding-top:10px;
    font: 500 1em arial;
    text-align:right;
    clear:both;
    
}


.canvas-container {
     margin-left:177px;
     margin-top:160px;

}
